{% block cbax_analytics_sales_monthly_invoice %}
    <div>

        {% block cbax_analytics_sales_monthly_invoice_chart %}
            <sw-card positionIdentifier="'test'" class="cbax-analytics-content-card-chart cbax-analytics-sales-monthly-chart"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showChart == 1">

                {% block cbax_analytics_sales_monthly_invoice_chart_data %}
                    <sw-chart
                            v-if="isLoading == false"
                            :type="'line'"
                            :series="chartSeriesData"
                            :options="chartOptions"
                            sort>
                    </sw-chart>
                {% endblock %}

            </sw-card>
        {% endblock %}

        {% block cbax_analytics_sales_monthly_invoice_grid %}
            <sw-card positionIdentifier="'test'" class="cbax-analytics-content-card-grid cbax-analytics-sales-monthly-grid"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showTable == 1">

                {% block cbax_analytics_sales_monthly_invoice_grid_data %}
                    <div v-if="displayOptions.dashboard" class="cbax-analytics-grid-label">
                        {{ $tc(activeStatistic.label) }}
                    </div>

                    <div v-if="!gridSeriesData || (gridSeriesData && gridSeriesData.length == 0)" class="cbax-analytics-empty-state-wrapper">
                        <sw-empty-state :title="$tc('cbax-analytics.index.noData')"></sw-empty-state>
                    </div>

                    <sw-data-grid v-else
                            :dataSource="gridSeriesData"
                            :columns="getGridColumns"
                            :showSelection="false"
                            :showActions="false">

                        <template #column-sumGross="{ item }">
                            {{ currencyFilter(item.sumGross, systemCurrency.isoCode) }}
                        </template>

                        <template #column-sumNet="{ item }">
                            {{ currencyFilter(item.sumNet, systemCurrency.isoCode) }}
                        </template>

                        <template #column-sumNetAverage="{ item }">
                            {{ currencyFilter(item.sumNetAverage, systemCurrency.isoCode) }}
                        </template>

                        <template #pagination>
                            {% block analytics_sales_monthly_invoice_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>

                    </sw-data-grid>
                {% endblock %}

            </sw-card>

            {% block cbax_analytics_sales_monthly_invoice_grid_summery %}
                <sw-card :title="$tc('cbax-analytics.index.sums')"
                        positionIdentifier="'test'"
                        class="cbax-analytics-content-card-grid cbax-analytics-sales-monthly-grid"
                        :isLoading="isLoading"
                        v-if="!displayOptions.dashboard && summerySeriesData && summerySeriesData.length > 0">

                    <sw-data-grid :dataSource="summerySeriesData"
                                  :columns="getGridColumns"
                                  :showSelection="false"
                                  :showActions="false">

                        <template #column-sumGross="{ item }">
                            {{ currencyFilter(item.sumGross, systemCurrency.isoCode) }}
                        </template>

                        <template #column-sumNet="{ item }">
                            {{ currencyFilter(item.sumNet, systemCurrency.isoCode) }}
                        </template>

                        <template #column-sumNetAverage="{ item }">
                            {{ currencyFilter(item.sumNetAverage, systemCurrency.isoCode) }}
                        </template>

                    </sw-data-grid>
                </sw-card>
            {% endblock %}

            <sw-alert
                v-if="!displayOptions.dashboard"
                :appearance="'notification'"
                :showIcon="false"
                :closable="false"
                :variant="'neutral'"
                :title="$tc('cbax-analytics.general.help')"
            >
                <div class="cbax-analytics-description">
                    {{ $tc('cbax-analytics.view.invoiceOrderInfo') }}
                    {{ $tc('cbax-analytics.view.fullOrderInfo') }}
                </div>
            </sw-alert>

        {% endblock %}

    </div>
{% endblock %}
