{% block nfx_analytics_orders_count_all %}
    <div>

    	{% block nfx_analytics_orders_count_all_chart %}
            <sw-card positionIdentifier="'test'" class="nfx-analytics-content-card-chart nfx-analytics-orders-count-all-chart"
                :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showChart == 1">

            	{% block nfx_analytics_orders_count_all_chart_data %}
                    <sw-chart
                        v-if="isLoading == false"
                        :type="'line'"
                        :series="orderCountSeries"
                        :options="chartOptionsOrderCount"
                        fillEmptyDates
                        sort>
                    </sw-chart>
                {% endblock %}

            </sw-card>
        {% endblock %}

        {% block nfx_analytics_orders_count_all_grid %}
            <sw-card positionIdentifier="'test'" class="nfx-analytics-content-card-grid nfx-analytics-orders-count-all-grid"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showTable == 1">

                {% block nfx_analytics_orders_count_all_grid_sums %}
                    <sw-alert :appearance="'notification'"
                              :showIcon="false"
                              :closable="false"
                              :variant="'info'"
                              :title="$tc('nfx-analytics.index.sums')"
                    >
                        <div v-if="overallData != null" class="nfx-analytics-grid-sums">
                            <div class="nfx-analytics-grid-sum">
                                <div>{{ $tc('nfx-analytics.view.orderCountAll.firstTimeCountColumn') }}:</div>
                                <div>{{ overallData.firstTimeCount }}</div>
                            </div>
                            <div v-if="overallData.count > 0" class="nfx-analytics-grid-sum">
                                <div>{{ $tc('nfx-analytics.view.orderCountAll.firstTimePart') }}:</div>
                                <div>{{ overallData.firstTimePart }} %</div>
                            </div>
                            <div class="nfx-analytics-grid-sum">
                                <div>{{ $tc('nfx-analytics.view.orderCountAll.returningCountColumn') }}:</div>
                                <div>{{ overallData.returningCount }}</div>
                            </div>
                            <div v-if="overallData.count > 0" class="nfx-analytics-grid-sum">
                                <div>{{ $tc('nfx-analytics.view.orderCountAll.returningPart') }}:</div>
                                <div>{{ overallData.returningPart }} %</div>
                            </div>
                            <div class="nfx-analytics-grid-sum">
                                <div>{{ $tc('nfx-analytics.view.orderCountAll.countColumn') }}:</div>
                                <div>{{ overallData.count }}</div>
                            </div>
                        </div>
                    </sw-alert>

                {% endblock %}

            	{% block nfx_analytics_orders_count_all_grid_data %}
                    <div v-if="displayOptions.dashboard" class="nfx-analytics-grid-label">
                        {{ $tc(activeStatistic.label) }}
                    </div>

                    <div v-if="!orderCountData || (orderCountData && orderCountData.length == 0)" class="nfx-analytics-empty-state-wrapper">
                        <sw-empty-state :title="$tc('nfx-analytics.index.noData')"></sw-empty-state>
                    </div>

                    <sw-data-grid v-else
                        :dataSource="orderCountData"
                        :columns="getGridColumns"
                        :showSelection="false"
                        :showActions="false">

                        <template #pagination>
                            {% block analytics_orders_count_all_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>

                    </sw-data-grid>
                {% endblock %}

            </sw-card>
        {% endblock %}

    </div>
{% endblock %}
