{% block cbax_analytics_unfinished_orders %}
    <div>

        {% block cbax_analytics_unfinished_orders_grid %}
            <sw-card positionIdentifier="'test'" class="cbax-analytics-content-card-grid cbax-analytics-unfinished-orders-grid"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showTable == 1">

                {% block cbax_analytics_unfinished_orders_grid_data %}
                    <div v-if="displayOptions.dashboard" class="cbax-analytics-grid-label">
                        {{ $tc(activeStatistic.label) }}
                    </div>

                    <div v-if="!gridSeriesData || (gridSeriesData && gridSeriesData.length == 0)" class="cbax-analytics-empty-state-wrapper">
                        <sw-empty-state :title="$tc('cbax-analytics.index.noData')"></sw-empty-state>
                    </div>

                    <sw-data-grid v-else
                            :dataSource="gridSeriesData"
                            :columns="getGridColumns"
                            :showSelection="false"
                            :showActions="false">

                        <template #column-name="{ item }">
                            <router-link
                                class="sw-data-grid__cell-value"
                                :to="{ name: 'sw.customer.detail', params: { id: item.id } }">
                                {{ item.name }}
                            </router-link>
                        </template>

                        <template #column-email="{ item }">
                            <router-link
                                class="sw-data-grid__cell-value"
                                :to="{ name: 'sw.customer.detail', params: { id: item.id } }">
                                {{ item.email }}
                            </router-link>
                        </template>

                        <template #column-gross="{ item }">
                            {{ currencyFilter(item.gross, systemCurrency.isoCode) }}
                        </template>

                        <template #column-net="{ item }">
                            {{ currencyFilter(item.net, systemCurrency.isoCode) }}
                        </template>

                        <template #column-position="{ item }">
                            <div class="cbax-analytics-unfinished-orders-position">
                                <div>
                                    <sw-icon
                                        color="#189eff"
                                        name="regular-shopping-cart"
                                        small
                                        @click="openLineItemsModal($event, item)"
                                    />
                                </div>
                                <div>
                                    {{ item.position }}
                                </div>
                            </div>
                        </template>

                        <template #pagination>
                            {% block cbax_analytics_unfinished_orders_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>

                    </sw-data-grid>
                {% endblock %}

                {% block cbax_analytics_unfinished_orders_lineitems %}
                    <sw-modal
                        v-if="lineItemsModalOpen"
                        class="cbax-analytics-unfinished-orders-modal"
                        :title="$tc('cbax-analytics.view.unfinishedOrders.modal.title')"
                        :is-loading="isLoading"
                        @modal-close="onCloseLineItemsModal">

                        <sw-data-grid :dataSource="modalItems"
                                      :columns="getModalGridColumns"
                                      :showSelection="false"
                                      :isLoading="isLoading"
                                      :showActions="false">

                            <template #column-unitPrice="{ item }">
                                {{ currencyFilter(item.unitPrice, systemCurrency.isoCode) }}
                            </template>

                            <template #column-productNumber="{ item }">
                                <router-link
                                        class="sw-data-grid__cell-value"
                                        :to="{ name: 'sw.product.detail', params: { id: item.id } }">
                                    {{ item.productNumber }}
                                </router-link>
                            </template>

                            <template #column-totalPrice="{ item }">
                                {{ currencyFilter(item.totalPrice, systemCurrency.isoCode) }}
                            </template>

                        </sw-data-grid>

                    </sw-modal>
                {% endblock %}

            </sw-card>

            {% block cbax_analytics_unfinished_orders_help %}
                <sw-alert
                    v-if="!displayOptions.dashboard"
                    :appearance="'notification'"
                    :showIcon="false"
                    :closable="false"
                    :variant="'neutral'"
                    :title="$tc('cbax-analytics.general.help')"
                >
                    <div class="cbax-analytics-description">
                        {{ $tc('cbax-analytics.view.unfinishedOrders.description') }}
                    </div>
                </sw-alert>
            {% endblock %}

        {% endblock %}

    </div>
{% endblock %}
